<!DOCTYPE html>
<html>
  <head>
    <title>To-Do list</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
    <header>
      <h1>Your List..</h1>
      <section>
        <%= yield %>
      </section>
    </header>
  </body>
</html>